/* WDD 230 - Assignment Portal CSS Template */


@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    line-height: 32px;
    font-family: Philosopher;
    color: rgb(17, 17, 87);
    margin: 30px;
  }

  h1 {
    font-size: 4.8rem;
    color: white;
    text-align: center;
    margin: 5.0rem auto ;
  }

  p {
    font-size: 1.8rem;
  }

  header,main, footer {
    margin: 1.25rem auto;
    padding: 0.5rem;
  }

  header, footer, footer a {
    background-color: rgb(10, 10, 73);
    color: whitesmoke;
    box-shadow: 5px 5px 10px #6f7364;
  }

  @media screen and (max-width: 900px) {
    body {
      flex-direction: column;
      width: 400px;
      }
  
  header {
    font-size: 1.2rem;
    flex-direction: column;
  }
  
  h1 {
    font-size: 1.8rem;
   }

  p {
    font-size: 1.2rem;
  }
  
 }