/* WDD 230 - Assignment Portal CSS Template */

@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

body {
  font-family: Philosopher;
}

header, main, footer {
  max-width: 767px;
  margin: 0 auto;
}

header,footer {
  background-color: rgb(10, 10, 73);
  color: whitesmoke;
  box-shadow: 5px 5px 10px #6f7364;
  text-align: center;
  align-items: center;
  margin:1rem auto;
  padding: auto;
}

main {
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  padding: 2rem;
  border: 2px;
  border-color: #ad9e9e;
}

article {
  background-color: #e7e4e4;
  align-items: center;
  padding: 2rem;
  border-color: aliceblue;
}

li a:hover {
  background-color: #ffcccc;
}

label {
  display: inline-block;
  min-width: 120px;
  text-align: right;
}


@media only screen and (min-width: 37.5em) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  main article:nth-child(3) {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 60em) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  main article:nth-child(3) {
    grid-column: span 1;
  }
}
