/* WDD 230 - Assignment Portal CSS Template */

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: rgb(17, 17, 87);
    margin: 30px;
  }