/* WDD 230 - Assignment Portal CSS Template */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: blue;
}

h1 {
    font-size:2.8rem; 
    color: white;
	text-align: center;
	margin-top: 50px;
}

h2 {
    font-size:1.5rem;
    text-align: left;
	color: purple;
    border-bottom: 1px solid #bbb;
}
li {
	 font-size:1.15rem;
	 color: green;
    text-align: left;
}
	

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: auto;
}

header, footer, footer a {
   
    background-color: blue;
    color: whitesmoke;
}

header img {
    width: 195px;
    height: 325px;
  	margin-right: 120px;
}

footer {
    font-size: medium;
}