/* WDD 230 - Assignment Portal CSS Template */

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: blue;
 }

h1 {
    font-size:4.8rem; 
    color: white;
	text-align: center;
	margin-top: 150px;
 
}

h2 {
    font-size:1.5rem;
    text-align: left;
	color: purple;
    border-bottom: 1px solid #bbb;
}

h3 {
    font-size:0.95rem;
    text-align: left;
	color: rgb(97, 96, 97);
    border-top: 1px solid #bbb;
}

li {
	 font-size:1.15rem;
	 color: green;
    text-align: left;
}
	

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
   
}

header, footer, footer a {
   
    background-color: blue;
    color: whitesmoke;
}

header img {
    width: 195px;
    height: 325px;
  	margin-left: 40px;
    margin-top: -180px;
}

footer {
    font-size: medium;
}

@media screen and (max-width: 900px) {
    h1 {             
        flex-direction: column;
        }
    }